header {
    height: 70px;
    position: relative;
    z-index: 999;
    .header-all {
        background-color: rgba($color: #000000, $alpha: 0.9);
        position: fixed;
        width: 100%;
        .icon_Holder {
            margin: 10px;
            .icon {
                padding-top: 10px;
                margin: 10px 0 35px 10px;
                width: 50px;
            }
        }
        .navi_All {
            position: fixed;
            top: 85px;
            right: 20px;
            .navi_List {
                text-align: right;
                .nav {
                    display: block;
                    li {
                        display: inline;
                        margin-left: 30px;
                        text-decoration: none;
                        z-index: 50;
                        a{
                            color: white;
                            text-decoration: none;
                        }
                    }
                    .navi_DD {
                        position:relative;
                        margin-right: 50px;
                        .navi_Sns {
                            padding: 0 40px 0 5px;
                            text-align: left;
                            position: absolute;
                            top: 19px;
                            right: -70px;
                            display: none;
                            z-index: 50;
                            background-color: rgba($color: #000000, $alpha: 0.7);
                            li {
                                margin: 0;
                                padding: 30px;
                                list-style: none;
                                display: list-item;
                            }
                        }
                    }
                }
            }
        }
    }
}