@charset "UTF-8";
body {
  background-color: #000;
}

main {
  position: relative;
  background-color: gray;
  /*確認用背景*/
}

main .Name {
  z-index: 1;
  position: absolute;
  left: 10%;
  top: 63%;
  color: white;
}

main .slider_Contents {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

main .slider_Contents .slider_Img_Container {
  position: relative;
  width: 100%;
  height: 500px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

main .slider_Contents .slider_Img_Container .slider_Img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

main .slider_Contents .slider_Img_Container .button_prev, main .slider_Contents .slider_Img_Container .button_next {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

main .slider_Contents .pagenation {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10;
}

main .slider_Contents .pagenation-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}

main .slider_Contents :root {
  --swiper-navigation-color: #000000;
  --swiper-pagination-color: #ffffff;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper footer {
  background-color: rgba(0, 0, 0, 0.4);
  /*確認用背景*/
  width: 80%;
  position: absolute;
  right: 10%;
  left: 10%;
  bottom: 0;
  text-align: center;
  padding: 30px 0;
}

.wrapper footer .footer_Prof .footer_icon {
  width: 50px;
}

.wrapper footer .footer_Prof .footer_Mail {
  font-size: medium;
}

header {
  background-color: royalblue;
  /*確認用背景*/
  height: 70px;
  position: relative;
}

header .icon_Holder {
  margin: 10px;
}

header .icon_Holder .icon {
  padding-top: 10px;
  margin: 0;
  width: 50px;
}

header .navi_All {
  position: absolute;
  top: 50px;
  right: 20px;
}

header .navi_All .navi_List {
  text-align: right;
}

header .navi_All .navi_List .nav {
  display: block;
}

header .navi_All .navi_List .nav li {
  display: inline;
  margin-left: 30px;
  text-decoration: none;
  z-index: 50;
}

header .navi_All .navi_List .nav li a {
  color: white;
  text-decoration: none;
}

header .navi_All .navi_List .nav .navi_DD {
  position: relative;
  margin-right: 50px;
}

header .navi_All .navi_List .nav .navi_DD .navi_Sns {
  padding: 0 40px 0 5px;
  text-align: left;
  position: absolute;
  top: 19px;
  right: -70px;
  display: none;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.7);
}

header .navi_All .navi_List .nav .navi_DD .navi_Sns li {
  margin: 0;
  width: 84px;
  list-style: none;
  display: list-item;
}
/*# sourceMappingURL=style.css.map */